<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../reset.css">
        <link rel="stylesheet" href="../styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="head-banner"></div>
        <svg class="head-deco" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20">
            <path d="M 100 0 L 0 0 L 0 10 C 35 3 65 3 100 10 L 100 0" fill="cornflowerblue"/>
        </svg>
        <div class="wardrobe">
            <div class="drawer" id="first">
                <ul class="menu">
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="../about.html">ABOUT</a></li>
                    <li><a href="../work.html">WORK</a></li>
                    <li><a href="../index.html" class="active">BLOG</a></li>
                    <li><a href="../darsondesign/index.html">OLD</a></li>
                </ul>
                <div class="label">
                    <h1>SITEMAP</h1>
                </div>
            </div>

            <div class="drawer" id="second">
                <p>Under Construction</p>
                <div class="search-container">
                    <input type="text" placeholder="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="label">
                    <h1>SEARCH</h1>
                </div>
            </div>

            <div class="drawer" id="third">
                <p>wordswords wordswords Is it just multiple lines</p>
                <div class="label">
                    <h1>LOGIN</h1>
                </div>
            </div>
        </div>

        <div class="abt-drawer">
            <div class="abt-label">
                <h1>ABOUT THIS PAGE</h1>
            </div>
            <p class="abt-text">
                This is a template post.
                <br>
                <br>
                Everything here is for testing or copying purposes.
                <br>
                <br>
                This page is not intended as an example of copywriting or design skill. It may differ from my finished work.
                <br>
                <br>
                Thank you for showing enough interest in me to find this page. You can go now.
        </div>

    <div class="dummy">
        <div class="ppr-head">test</div>
    </div>
        <div class="post-preview">
            <div class="l-img"><img src="../images/post_thumbs/generic.png"></div>
            <div class="post-text">
                <div class="ppr-head">test</div>
                <hr>
                    <div class="date-time">
                        <p>MARCH XX 2024 | XX:XX XM</p>
                    </div>
                <hr>
                <br>
                <div class="ppr-body">
                    test
                    <br><br>
                    Test
                    <br><br>
                    Test
                </div>
                <br>
                <hr>
            </div>
        </div>
    </div>
    </body>
</html>

<!--THIS PAGE IS A TEMPLATE. KEEP UPDATING IT AS THE TOTAL DESIGN OF THE PAGE CHANGES.-->